#about_section{
    text-align: justify;
    padding: 4em 0;
}

.about-title {
    border-bottom: 3px solid var(--secondary-color);
    text-align: center;
}

#about_section p{
    margin-inline: auto;
}