footer ul {
    border-bottom: 2px solid var(--secondary-color);
}

@media (hover: hover) {
    footer .nav-link:hover {
        transition: linear 0.3s;
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

.nav-link:active svg {
    transition: linear 0.2s;
    transform: scale(1.3);
    color: var(--secondary-color);
}