#footer_section {
    position: relative;
    padding: 4em 0;
}

footer ul {
    border-bottom: 3px solid var(--secondary-color);
}

@media (hover: hover) {

    footer .nav-link:hover {
        transition: linear 0.3s;
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

footer p {
    font-family: 'Raleway', sans-serif;
    color: #dddddd;
}