#hero-section {
  padding: 4em 0;
}

img {
  width: 350px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
}

.typewriter-container {
  width: 80%;
  /* Ancho del contenedor */
  margin: 0 auto;
  /* Centrado del contenedor */
  padding: 15px 0 45px 0;
  /* Espacio de relleno */
  overflow: hidden;
  /* Para ocultar el texto que se sale del contenedor */
}

#hero-section a {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 0.5em;
  background: rgba(22, 56, 64, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1em;
}