#hero-section {
  background-color: var(--primary-color);
  margin-top: 62px;
}

img {
  width: 350px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}

.typewriter-container {
  width: 80%;
  /* Ancho del contenedor */
  margin: 0 auto;
  /* Centrado del contenedor */
  padding: 15px 0 45px 0;
  /* Espacio de relleno */
  overflow: hidden;
  /* Para ocultar el texto que se sale del contenedor */
}

.typewriter {
  display: block;
  /* Para permitir que el contenedor se ajuste al ancho del texto */
  border-right: .15em solid var(--primary-color);
  /* Efecto de cursor */
  white-space: nowrap;
  /* Para que el texto no se rompa */
  margin: 0;
  /* Eliminar el margen predeterminado del texto */
  letter-spacing: .15em;
  /* Espaciado entre letras */
}

.typewriter{
  width: 32ch;
  margin-inline: auto;
  animation: typing 4s steps(29), blink-caret .75s step-end infinite;
  /* Animación de escribir y efecto de parpadeo del cursor */
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
      /* Ancho del contenedor de texto desde 0 para empezar */
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
    /* Color transparente para el cursor */
  }

  50% {
    border-color: var(--secondary-color);
    /* Color naranja para el cursor */
  }
}