#hero-section {
  background-color: var(--primary-color);
  margin-top: 62px;
}

img {
  width: 350px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}

.typewriter-container {
  width: 80%;
  /* Ancho del contenedor */
  margin: 0 auto;
  /* Centrado del contenedor */
  padding: 15px 0 45px 0;
  /* Espacio de relleno */
  overflow: hidden;
  /* Para ocultar el texto que se sale del contenedor */
}