#navbar {
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 2px 15px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 2px 15px -10px rgba(0, 0, 0, 1);
  box-shadow: 0px 2px 15px -10px rgba(0, 0, 0, 1);
}

.navbar-brand {
  font-size: 1.5rem;
  color: var(--secondary-color)
}

.navbar-nav {
  margin-left: auto;
}

.navbar .nav-item {
  color: var(--secondary-color);
}

.navbar .nav-item :hover {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
}

.nav-link {
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  color: var(--secondary-color);
  transition: linear 0.2s;
}

.nav-item button{
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: linear 0.2s;
}

.navbar-toggler {
  color: var(--secondary-color);
  border: none;
  transition: linear 0.2s;
}

.navbar-toggler:hover {
  transform: scale(1.1);
}

.navbar-toggler:focus {
  box-shadow: none;
}

svg {
  width: 30px;
}