#timeline_section {
    text-align: justify;
    padding: 4em 1em;
}

.timeline-title {
    border-bottom: 3px solid var(--secondary-color);
    text-align: center;
    padding-bottom: 0.75em;
    margin-bottom: 2em;
}

span.experiencia {
    opacity: 0;
}

span.formacion {
    opacity: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.25em 1em;
    background-color: white;
    color: var(--primary-color);
    border-radius: 0.5em 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.vertical-timeline-element-title {
    font-size: 1.25rem;
    text-align: left;
    font-weight: bold;
    color: var(--primary-color)
}

.vertical-timeline-element-subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    color: var(--primary-color);
}

#timeline_section a {
    background: rgba(22, 56, 64, 0.1);
    border-radius: 0.5em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
    display: block;
    max-width: 210px;
    border: 3px solid white;
    color: var(--secondary-color)
}