#works_section {
  border-radius: 14px;
  background: #80BF9B;
  text-decoration: none;
  color: var(--primary-color);
  padding: 3em 0;
}

.section-title {
  border-bottom: 3px solid var(--primary-color);
}

#react-poke-app {
  background-image: url('https://cdn.dribbble.com/users/1171520/screenshots/6540871/pokedex2.png');
}

#react-calculator {
  background-image: url('https://cdn.dribbble.com/users/6410682/screenshots/14709020/media/afabf7854adc663582e3d6347ac7b6c9.png?compress=1&resize=768x576&vertical=top');
}

#react-chatbot-app {
  background-image: url('https://cdn.dribbble.com/users/1192538/screenshots/16507884/media/4ba9a8036268fee0111f2cc647ad09bf.png');
  background-size: cover;
}