.card-proyect {
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  overflow: hidden;
  padding: 20px;
}

.proyect-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-proyect .btn {
  width: 35%;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}