:root {
  --primary-color: #163840;
  --secondary-color: #80BF9B;
}

body {
  border: 0;
  margin: 0;
  padding: 0;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
